@font-face {
    font-family: 'brandon';
    src: url('/fonts/Brandon_reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('/fonts/Gilroy_reg.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    background-color: #2B2F31;
}
  
::-webkit-scrollbar-thumb {
    background-color: #9BA1A6;
    border-radius: 10px;
}